.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

@media (min-width: 769px) {
    .home-container {
        margin-top: 100px;
    }
}
